<div class="content" role="main">
  <div>
    <span>Base currency: {{ payload.BaseCurrency }}</span>
  </div>
  <div>
    <select [(ngModel)]="fromListCountry" (change)="checkOnChange()">
      <option>Select Country</option>
      <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
    </select>
  </div>
  <div>
      <input [(ngModel)]="fromCountryNumVal" id="base-currency" type="text" (input)="baseCurrenyValChange()">
  </div>
  <div>
    <div>
      <span>Second country, select is {{ secondListCountry }}</span>
    </div>
    <div>
      <select [(ngModel)]="secondListCountry" (change)="toCountryChange()">
        <option>Select Country</option>
        <option *ngFor="let country of countries" [ngValue]="country.id">{{country.name}}</option>
      </select>
    </div>
    <div>
      <input [(ngModel)]="toCountryNumVal" id="toConvertCurrency" type="text">
    </div>
  </div>  
  <div>
    <span>{{errorMessage}}</span>
  </div>
</div>

<router-outlet></router-outlet>
