<div class="content" role="main">
  <div>
    <span>Base currency: {{ payload.BaseCurrency }}</span>
  </div>
  <div>
    <select [(ngModel)]="fromCountry" (change)="onFromCountryChange()">
      <option disabled>Select Country</option>
      <option *ngFor="let country of countries" [ngValue]="country.Id">{{country.Name}}</option>
    </select>
  </div>
  <div>
      <input [(ngModel)]="fromCountryNumVal" id="base-currency" type="text" (input)="baseCurrenyValChange()">
  </div>
  <div>
    <div>
      <span>Second country, select is {{ toCountry }}</span>
    </div>
    <div>
      <select [(ngModel)]="toCountry" (change)="onToCountryChange()">
        <option disabled>Select Country</option>
        <option *ngFor="let country of countries" [ngValue]="country.Id">{{country.Name}}</option>
      </select>
    </div>
    <div>
      <input [(ngModel)]="toCountryNumVal" id="toConvertCurrency" type="text">
    </div>
  </div>  
  <div>
    <span>To rate: {{toCountryTransferRate}}</span>
  </div>
  <div>
    <span>Date of currency data: {{payload.DateAndTimeFromExternalAPI | date :'long' }}</span>
  </div>
  <div>
    <span>{{errorMessage}}</span>
  </div>
</div>

<router-outlet></router-outlet>
